<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <style type="text/css" src="style.css"></style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <img id="logo" src="/static/ebay.png" width="100" length="100" style="text-align: left;">
    <nav class="navbar ">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Shop by Category</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="navg" class="active"><a href="#">Home</a></li>
                <li class="navg"><a href="#">Cart</a></li>
                <li class="navg"><a href="#">Products</a></li>
            </ul>
        </div>
    </nav>
    <
  
<div class="container">

</body>
</html>